.container-fluid {
  padding: 40px 20px;
}

.mt-4,
.summary-section {
  margin-top: 60px;
}
.recent-operations {
  margin-top: 40px;
}

.sidebar {
  padding: 20px;
  width: 200px;
  background-color: #f5f5f5;
}

.card {
  margin-bottom: 20px;
}

.padding-top {
  padding-top: 20px;
}

.app {
  display: flex;
}

.brand-button {
  display: block;
  margin-bottom: 20px;
  background-color: #ddd;
  padding: 10px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.upload-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

main {
  flex-grow: 1;
  padding: 40px 20px 20px;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary-item {
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.balance {
  background-color: blue;
}

.income {
  background-color: green;
}

.expenses {
  background-color: red;
}

.col-md-6,
.col-md-3 {
  margin-top: 20px;
}

html,
body,
#root,
.container-fluid,
.row {
  height: 100%;
  margin: 0;
  padding: 0;
}

.col-md-3,
.col-md-6 {
  display: flex;
  flex-direction: column;
}

.col-md-6 > div {
  margin-bottom: 20px;
}

.sidebar,
.recent-operations {
  flex: 1;
}

h5 {
  text-align: center;
}

.summary-section,
.recent-operations {
  margin-top: 30px;
}

.summary-section > div,
.recent-operations > div {
  padding: 20px;
}
